.header {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: 100;
    color: khaki;
}

.brush {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}

.frame {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
}

.paint {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;
}

.title {
    font-weight: bold;
    font-size: 25px;
}

span {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}

p {
    font-size: 20px;
}
