/* TOP NAV BAR BUTTONS */
.navls > li {
    display: inline;
}
.navls li.location + li.location::before {
    content: "/ ";
}
.navls li a:hover {
    text-decoration: underline;
    color: rgba(0, 255, 255, 0.709);
}
/* BODY BUTTONS */
.btn {
    background-color: gold;
    color: black;
    text-decoration: none;
    margin: 10px;
    padding: 8px;
    border: 2px solid red;
    border-radius: 10px;
    font-weight: 800;
    cursor: pointer;
}
.btn:hover {
    background-color: white;
    color: red;
    border: 2px solid white;
    transition: color .1s ease-in, background-color .1s ease-in;

}
.btn:active {
    font-size: 18px;
    transition: font-size .1s ease-in-out;
}